@use "abstract" as *;

.scenery {
	height: fit-content;
	width: fit-content;

	max-width: 100%;
	overflow: hidden;
	margin: 2.5rem 0;

	.image_container {
		width: 100vw;
		height: 20rem;
	}
}

@include tabletLarge {
	.scenery {
		margin: 4.5rem 0;

		.image_container {
			height: 30rem;
		}
	}
}
