@use "./media.scss" as *;

@mixin fonts {
  @include mobile {
    --p: normal 400 0.75rem/150% "Poppins", sans-serif;
    --p-large: normal 400 0.875rem/150% "Poppins", sans-serif;
    --h2: normal 500 1.125rem/150% "Poppins", sans-serif;
    --h1: normal 600 1.5rem/100% "Poppins", sans-serif;
  }

  @include tabletLarge {
    --p: normal 400 0.875rem/150% "Poppins", sans-serif;
    --p-large: normal 400 1rem/150% "Poppins", sans-serif;
    --h2: normal 500 1.3125rem/150% "Poppins", sans-serif;
    --h1: normal 600 2rem/100% "Poppins", sans-serif;
  }

  @include desktopSmall {
    --p: normal 400 0.875rem/150% "Poppins", sans-serif;
    --p-large: normal 400 1.125rem/150% "Poppins", sans-serif;
    --h2: normal 500 1.5rem/150% "Poppins", sans-serif;
    --h1: normal 600 2.5rem/100% "Poppins", sans-serif;
  }

  .h1 {
    font: var(--h1);
    letter-spacing: 0.02em;
  }
  .h2 {
    font: var(--h2);
    letter-spacing: 0.05em;
  }
  .p1 {
    font: var(--p-large);
    letter-spacing: 0.05em;
    white-space: pre-wrap;
  }
  .p2 {
    font: var(--p);
    letter-spacing: 0.05em;
    white-space: pre-wrap;
  }
}
