@mixin flex-center-sb-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-center-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex--center {
  display: flex;
  justify-content: center;
}
@mixin flex--center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-sb-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
