@use "./abstract/" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include fonts;
  @include themes;

  --transition-time: 0.3s;

  @include mobile {
    --screen-padding: 1.5rem;
  }
  @include tabletLarge {
    --screen-padding: 2.5rem;
  }
  @include desktopSmall {
    --screen-padding: 4.5rem;
  }
}

html,
body {
  --primary-color: #d1e1f5;
  --secondary-color: #162031;

  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color);
  scroll-behavior: smooth;

  * {
    transition: background-color var(--transition-time),
      color var(--transition-time), fill var(--transition-time);

    -webkit-tap-highlight-color: transparent;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;

  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: none;
    outline: none;
  }
}
